<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}">FootballMock</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <div sec:authorize="hasRole('ADMIN')">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/admin/list}">Admin</a>
                    </li>
                    </div>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/showMyAccountPage}">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/showStandingsPage}">Standings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/showMyBetsPage}">My Bets</a>
                    </li>
                    <li class="nav-item">
                        <form action="#" th:action="@{/logout}" method="POST" class="d-flex">
                            <button type="submit" class="btn btn-outline-danger ms-2">Logout</button>
                        </form>
                    </li>


                </ul>
            </div>
        </div>
    </nav>
</header>
