<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border-left: none !important;
            border-right: none !important;
            text-align:center;
        }
        .table td, .table th {
            padding: 0.75rem;
        }
        td,h3 {
    font-weight: bold;
            }
    </style>
    <title>Premier League Standings</title>
</head>
<body class="bg-light d-flex flex-column min-vh-100">
<div th:replace="~{fragments/header}"/>

<div class="container d-flex flex-grow-1 justify-content-center align-items-center mt-5">
    <div class="col-md-10">

        <div class="card shadow p-4">
            <h3 class="text-center mb-4">Premier League Standings</h3>

            <img src="/images/logos/Premier league logo.png" alt="Premier League Logo"
                 class="img-fluid mb-4 d-block mx-auto" style="max-width: 175px;"/>

            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-dark">
                    <tr>
                        <th>Position</th>
                        <th>Team</th>
                        <th>Played</th>
                        <th>Won</th>
                        <th>Draw</th>
                        <th>Lost</th>
                        <th class="bg-danger text-white">Points</th>
                        <th>GF</th>
                        <th>GA</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="team : ${teams}">
                        <td th:text="${team.position}"></td>
                        <td class="text-start">
                            <img th:src="@{'/images/logos/' + ${team.teamName} + ' logo.png'}" class="team-logo"
                                 style="width: 50px; height: 50px; margin-right: 10px;"/>
                            <span th:text="${team.teamName}"></span>
                        </td>
                        <td th:text="${team.playedGames}"></td>
                        <td th:text="${team.won}"></td>
                        <td th:text="${team.draw}"></td>
                        <td th:text="${team.lost}"></td>
                        <td th:text="${team.points}" class="bg-danger text-white"></td>
                        <td th:text="${team.goalsFor}"></td>
                        <td th:text="${team.goalsAgainst}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>
<footer th:replace="~{fragments/footer}"/>

</body>
</html>
